html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background-color: rgb(51, 51, 51);
}

#root {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(51, 51, 51);
}

.hidden {
  display: none;
}

.fake {
  height: 20px;
}
