.root {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 0;
  min-height: 0;
}

.frame {
  position: relative;
  display: inline-block;
  max-width: 100%;
  max-height: 100%;
}

.image {
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;

  object-fit: contain;
}

.overlayBox {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);

  width: 90%;
  border: 2px solid rgba(0, 0, 0, 0.55);
  background-color: white;
}
